{% extends 'default.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<div>
    <h3>{{ post.headline }}</h3>
    Автор {{ post.author }}, дата {{ post.create_date|date:'d M Y' }}

    <hr>{{ post.text }}<hr>

    <p>Категория: {{ post.get_category_display }}</p>

</div>
<div>
    {% if responses %}
    <h2>Комментарии:</h2>
    {% for response in responses %}
        <p>{{ response.text }}


        </p>
    {% endfor %}
    {% else %}
    <h2>Комментариев нет!</h2>
    {% endif %}
</div>
<div>
    <p>{% if user == post.author  %}
    <form action="edit/">
        <button type="Редактировать публикацию"> Редактировать публикацию</button>
    </form>
    <form action="delete/">
        <button type="Удалить публикацию"> Удалить публикацию</button>
    </form>
    </p>
    {% endif %}
</div>
<div>
<h2>Добавить комментарий</h2>
{% csrf_token %}
    <form method="post" action="/{{ post.id }}/">
        {% csrf_token %}
        <textarea name="text" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Отправить сообщение">
    </form>
</div>
{% endblock content %}