{% extends 'default.html' %}

{% block title %}
{% endblock title %}


{% block content %}
<h2>Ваши объявления:</h2>
{% if posts %}
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            {% for post in posts %}

            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100" >
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold"><a href="/{{ post.id }}/">{{ post.headline }}</a></h2>
                        <p class="mb-0">{{ post.text|truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
   <h4>Вы не размещали объявления.</h4>
{% endif %}

<h2>Объявления, на которые вы отзывались:</h2>

{% if posts_with_user_responses %}
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            {% for post in posts_with_user_responses %}

            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100" >
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold"><a href="/{{ post.id }}/">{{ post.headline }}</a></h2>
                        <p class="mb-0">{{ post.text|truncatechars:200 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
   <h4>Нет объявлений, на которые вы откликнулись.</h4>
{% endif %}

{% endblock content %}